@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-accent-primary: theme('colors.accentPrimary');
}

.scroll-container {
  overflow: hidden;
  white-space: nowrap;
}

.scroll-content {
  display: inline-flex;
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


/* Set default text color */
body {
  color: "#101010"
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.underline-effect {
  @apply inline-block relative;
}

.underline-effect::after {
  content: '';
  background: var(--color-accent-primary);
  position: absolute;
  display: block;
  z-index: -1;
  width: 100%;
  height: 1.2rem;
  margin-top: -1.2rem;
  margin-left: 0.4rem;
}